* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;

}


.lpage {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 25vw;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 7px rgba(0, 0, 0, 0.527);
}


#email {
    height: 5vh;
    width: 20vw;
    border-radius: 5px;
    margin-bottom: 10px;
}

#pass {

    height: 5vh;
    width: 20vw;
    border-radius: 5px;
}

#btn {
    height: 5vh;
    width: 8vw;
    background-color: black;
    color: white;
    border-radius: 5px;
}

#imgman {
    height: fit-content;
    width: fit-content;
    height: 20vh;
    width: 12vw;

}

@media screen and (max-width: 1024px) {
    .lpage {
        height: 55vh;
        width: 70vw;
    }


    #email {
        height: 5vh;
        width: 50vw;
    }


    #pass {
        height: 5vh;
        width: 50vw;
    }


    #btn {
        height: 5vh;
        width: 20vw;
    }


    #imgman {

        height: 20vh;
        width: 35vw;
    }
}